<div class="container">
  <h1>Surveys</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-5">

    <% @surveys.each do |survey| %>

      <div class="col">
        <%= link_to survey_path(survey), class: "text-decoration-none text-body" do %>
          <div class="card h-100 ">
            <div class="card-body text-center bg-light bg-gradient">
              <h2 class="card-title fs-4 m-5"><%= survey.name %></h2>
            </div>
            <div class="card-footer">
              <div class="float-start"><%= survey.questions.size %> Questions</div>
              <div class="float-end"><%= survey.questions.map { |q| q.answers.size }.max || 0 %> Responses</div>
            </div>
          </div>
        <% end %>
      </div>

    <% end %>

  </div>
</div>
